# ===== PostgreSQL =====
POSTGRES_DB=jobs_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ===== ML service =====
TOP_K=50
MAX_TOP_N=20
VECTOR_K=200
RERANK_K=20
FINAL_K=5

SCORE_THRESHOLD = 0
DIAGNOSE=0
USE_LLM_NORMALIZE = True

# ===== Normalizer API =====
VACANCY_NORMALIZER_API_URL=https://meticulous-manifestation-production-3878.up.railway.app/normalize

# ===== HuggingFace =====
HF_HOME=/root/.cache/huggingface
TRANSFORMERS_CACHE=/root/.cache/huggingface